{% extends 'base.html' %}
{% block  title %}Test Type List{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'assets/plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="content-wrapper">
    <div class="main-content">
   
        <div class="content-header d-flex justify-content-between">
            <div class="page-header m-0">
                <h4 class="page-title">Test Type List</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="typcn typcn-home-outline"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="ti-angle-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Test Type</a>
                    </li>
                    <li class="separator">
                        <i class="ti-angle-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Test Type List</a>
                    </li>
                </ul>
               
            </div>
        </div>
               
        <div class="body-content">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="fs-17 fw-semi-bold mb-0">Test Type List status</h6>
                        </div>
                        <div class="text-end">
                            <div class="actions">
                                <a href="#" class="action-item"><i class="ti-reload"></i></a>
                                <div class="dropdown action-item">
                                    <a href="#" class="action-item" data-bs-toggle="dropdown"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu">
                                        <a href="#" class="dropdown-item">Refresh</a>
                                        <a href="#" class="dropdown-item">Manage Widgets</a>
                                        <a href="#" class="dropdown-item">Settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="body-content">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table display table-bordered table-striped table-hover basic">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Patient</th>
                                                    <th>Doctor</th>
                                                    <th>Test Type</th>
                                                    <th>Test Cost</th>
                                                    <th>Test Date</th>
                                                    <th>QR Code</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>      
                                                {% for obj in medical_test_type_list %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ obj.patient.name }}</td>
                                                    <td>{{ obj.doctor.name }}</td>
                                                    <td>{{ obj.test_type.short_name }}</td>
                                                    <td>{{ obj.amount }}</td>
                                                    <td>{{ obj.test_date }}</td>
                                                    <td>{{ obj.qr_code }}</td>
                                                    <td>
                                                        <div class="btn-group" role="group">
                                                            <a href="{% url 'dashboard:update_medical_test' obj.id %}" class="btn btn-outline-success me-2"><i class='far fa-edit'></i></a>
                                                            <a href="#" class="btn btn-outline-danger" onclick="confirmDelete('{{ obj.id }}')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                        </div>
                                                    </td>                                                    
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}

{% block js %}
<!-- Third Party Scripts(used by this page)-->
<script src="{% static 'assets/plugins/datatables/dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Include SweetAlert directly from the CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function confirmDelete(test_typeId) {
        // Use SweetAlert for confirmation
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the delete view
                window.location.href = '{% url "dashboard:delete_medical_test" 0 %}'.replace('0', test_typeId);
            }
        });
    }
</script>

{% endblock js %}